
.input{
    width: 100%;
    height: 30px;
    /* border-radius: 5px; */
    border-bottom: 2px solid #98cddf;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 10px;
}

.input:focus{
    box-shadow: rgba(0, 0, 0, 0.16) 0 4px 2px -2px;
    outline: none; /* Removes default focus outline */
}

form{
    border: #98cddf 2px solid;
    border-radius: 10px;
    padding: 20px;
}
.SignInButton{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: radial-gradient(circle, rgba(76,129,144,1) 28%, rgba(40,24,52,0.9360119047619048) 100%);
    color: white;
    padding: 10px;
}
.SignInButton:hover{
    background: radial-gradient(circle, rgba(178,1,14,0.6671043417366946) 0%, rgba(178,1,14,1) 50%, rgba(178,1,14,1) 100%);
    box-shadow: 0px 5px 5px rgba(178,1,14,0.6671043417366946);
    color: black;
    cursor: pointer;
}
label{
    padding: 5px;
}
.save-Changes{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: radial-gradient(circle, rgba(76,129,144,1) 28%, rgba(40,24,52,0.9360119047619048) 100%);
    color: white;
    padding: 10px;
}
.save-Changes:hover{
    background: radial-gradient(circle, rgba(178,1,14,0.6671043417366946) 0%, rgba(178,1,14,1) 50%, rgba(178,1,14,1) 100%);
    box-shadow: 0px 5px 5px rgba(178,1,14,0.6671043417366946);
    color: black;
    cursor: pointer;
}

.add_new_address{
    border-style: dashed;
    border-width: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(155, 177, 207, 0.685);
    cursor: pointer;
}
.add_new_address_cart{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: none;
    background: radial-gradient(circle, rgba(76,129,144,1) 28%, rgba(40,24,52,0.9360119047619048) 100%);
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    transition: all 0.2s ease-in;
}
.add_new_address_cart:hover{
    background: radial-gradient(circle, rgba(178,1,14,0.6671043417366946) 0%, rgba(178,1,14,1) 50%, rgba(178,1,14,1) 100%);
    box-shadow: 0px 5px 5px rgba(178,1,14,0.6671043417366946);
    color: black;
  }
.address-Div h4{
    margin-bottom: 6px;
}
/* .address-Div p{
    margin-bottom: 6px;
} */
