.tooltip2 {
    position: absolute;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 250px;
    font-size: 14px;
    white-space: normal;
}

.tooltip-content2 {
    font-weight: normal;
    line-height: 1.4;
}

.tooltip-arrow2 {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ccc;
    transform: rotate(45deg);
}
