input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Hide number input arrows */
}

.addNewProduct-container{
    background-color: #f9f7f7;
    margin: 0 auto;
    width: 100%;
}

.addNewProduct-Info, .addNewProduct-catalog{
    margin: 0 auto;
    width: 50%;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #d8dfe7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.catalog-Header{
     border-bottom: 2px solid #98cddf;
     margin-left:auto;
     margin-right: auto;
     margin-top: 50px;
     width: 50%;
     display: flex;
     gap: 10px;
     padding: 10px;
     align-items: center;
     justify-content: center;
     align-content: center;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 5px;
}
input, textarea,select{
    border:1px solid #98cddf;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}
select{
    text-align: center;
}
input:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    outline: none; /* Removes default focus outline */
}
textarea:focus{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    outline: none; /* Removes default focus outline */
}
select:focus{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
    outline: none; /* Removes default focus outline */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #98cddf;
    padding:4px 0;
    text-align: center;
    border-radius: 5px;
}
.size_Button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: border-color 0.3s;
  }

.sizeB{
  transition: border-color 0.3s;
}
.sizeB:has(input[type="checkbox"]:checked) {
    border: 1px solid red !important;
}


