:root{
    --header1Height:60px;
    --header2Height:110;
}

.Mode-ChangeDiv svg{
    height: 30px;
    cursor: pointer;
}
.sun{
    color: yellow;
}
.moon, .sun{
    cursor: pointer;
    transition: display 1s linear, color 0.4s ease;
}
.header1-Div{
    background: radial-gradient(circle, rgba(76,129,144,1) 28%, rgba(40,24,52,0.9360119047619048) 100%);
    color: white;
    box-shadow: 10px 5px 5px rgba(155, 177, 207, 0.685);
    max-height: var(--header1Height);
}
.header1-content, .header2-Div{
    margin: 0 auto;
    max-width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.language{
    display: flex;
    cursor: pointer;
}
.language button{
    color: white;
    text-decoration: none;
    border: none;
    background: transparent;
    cursor: pointer !important;
}
.language button:hover{
    color: #247f9e;
}
.lang-divider {
    width: 0.8px;
    height: 20px;
    background: #B7D5EA;
    margin-left: 12px;
    margin-right: 12px;
}
.socialNetwork{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.socialNetwork img{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 10px;
}
.login-Account{
    /* display: none; */
    justify-content: flex-end;
}
.user{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.user:hover .userProfile{
    opacity: 1;
}
.userProfile{
    z-index: 2;
    min-width: 160px;
    position: absolute;
    top: 121%;
    right: -5%;
    opacity: 0;
    transition: all .5s ease-out;
}
.userProfile li{
    background: radial-gradient(circle, rgba(76,129,144,1) 28%, rgba(40,24,52,0.9360119047619048) 100%);
    transition-property: none;
    cursor: pointer;
    list-style-type: none;
    text-align: center;
    color: black;
    padding: 10px;
}
.userProfile li:hover{
    color: white;
}
.userImg{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 80%;
}

.sign-button {
    color: black;
    background-color: #247f9e;
    font-size: 14px;
    margin: 0 8px;
    border: .0625rem #247f9e solid;
    padding: 0 16px;
    cursor: pointer;
    line-height: 2rem;
    border-radius: .1875rem;
    transition: all .3s ease-in-out;
    height: 32px;
}
.header2-wrapper{
    box-shadow: 0px 5px 5px rgba(155, 177, 207, 0.685);
    margin-bottom: 20px;
    max-height: var(--header2Height);
}
.header2-Div{
    margin: 0 auto;
    max-width: 85%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.Header-Logo-Div{
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo{
    width: 116px;
    height: 60px;
}
nav{
    display: flex;
}
.navName-div{
    width: 100%;
}
.navName{
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    font-family: jost;
    font-weight: bold;
}
.favorite-Item-Div, .bag-Item-Div{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.favorite-Item-Div:hover svg{
    color: red;
}
.bag-Item-Div:hover svg{
    color: red;
}


